<div class='main-component'>


  <div class='multiple-dropdown'>
    <h3>Single select dropdown</h3>
    <p>
      Below example demonstates the single select dropdown. Click on the dropdown and start typing, values filter automatically.
      Click on any state from the dropdown to select. Selected state will be binded to a variable and will be shown right
      side of the dropdonw Click on the same state from the list to unselect the
      <br>
      <br> When the dropdown is in focus click on the backspace twice to unselected the selected state
    </p>

    <table>
      <tr>
        <td>
          <app-dropdown [placeholder]='placeholder' [data]='singleSelectStates' [multiple]='single' [selectedItem]='singleSelectedValue'>
          </app-dropdown>
        </td>
        <td>
          Selected state:<br/> {{singleSelectedValue[1]}}
        </td>
      </tr>
    </table>

    <br>
    <br>

    <h3>Multi select dropdown</h3>
    <p>
      Below example demonstates the multi value dropdown. Click on any state to select the state. Clicking on the selected state
      de selects the state. Click the cross button to remove the state from selected states
      <br> Click backspace twice to unselect the last seleted state
    </p>
    <table>
      <tr>
        <td>
          <app-dropdown [placeholder]='placeholder' [data]='multiSelectStates' [multiple]='multiple' [selectedData]='multiSelectedData'></app-dropdown>
        </td>
        <td>
          selected states:
          <div *ngFor='let state of multiSelectedData'>{{state[1]}}</div>
        </td>
      </tr>
    </table>
    <br>
    <br>

    <h3>
      Data list dropdown
    </h3>
    <p>
      Similar funtionality can be achived by datalist, which only works in modern browsers as it is HTML5 element. The Datalist
      element is used to suggest input values to the user, thereby providing an "autocomplete" feature on form elements.
      This is especially useful for long lists. Datalist works only for single select dropdown
    </p>
    <br>

    <table>
      <tr>
        <td>
          <input [(ngModel)]="dataListSelectedState" class="data-list-states" list="states" name="state">
          <datalist id="states">
            <option *ngFor="let state of dataListStates" value="{{state[1]}}">
              {{state[0]}}
            </option>

          </datalist>
        </td>
        <td>
          Selected state:<br/> {{dataListSelectedState}}
        </td>
      </tr>
    </table>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>

</div>